
Body{
	font-family: 'Palatino', "Palatino Linotype", serif;
	background: url(../img/bg.png);
	color: white;
}


h3, footer{
	font-family: 'Open Sans', sans-serif;
	}
	
h3{
	
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	letter-spacing: 1px;
}
	

blockquote{
	color: #e44d26;
	font-size: 2em;
	font-style: italic;
	letter-spacing: 1px;
	text-align: center;
}

section > img {
	border: 10px white solid;
	}

img + p {
	line-height: 24px;
	text-indent: 32px;
}

nav{
	padding: 10px 10px 10px 40px;
}


li{
	float: left;
	list-style: none;
	margin: 0 10px 0 10px;
}

li > a{
	text-transform: uppercase;
	color: white;
	text-decoration: none;
	width: 200px;
	height: 100px;
	padding: 10px 40px 10px 40px;
	}


#home a:hover{
	background: url('../img/icons/home.png') no-repeat 0px center;
	color: #e44d26;
}

#super a:hover{
	background: url('../img/icons/super.png') no-repeat 0px center;
	color: #e44d26;
}

#html5 a:hover{
	background: url('../img/icons/html5.png') no-repeat 0px center;
	color: #e44d26;
}



/* =========
Super Friends
* font-family: 'Open Sans', sans-serif;
* text-indent: 32px;
* 
* 

Super Friend Description
* line-height: 24px;
* text-indent: 32px;
========= */








Footer{
	font-family: arial;
	font-size: 10px;
	line-height: 16px;
}
































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































/* b */